# Python
__pycache__/
*.pyc
*.pyo

# Environnements
.env
.venv
env/
.conda/

# Jupyter
.ipynb_checkpoints/

# OS / divers
.DS_Store

# Documents pédagogiques (hors code)
note_methodologique/
plan_previsionnel/

# Streamlit
.streamlit/

# Logs
*.log


